<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
	</head>
	<body class="main">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header pull-right">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">ادمین</a>
				</div>
				<div class="collapse navbar-collapse pull-right">
					<ul class="nav navbar-nav">
						<li><a href="#">در‌باره ما</a></li>
						<li><a href="#">خانه </a></li>
						<li class="active"><a href="#">تایید قرارها </a></li>
						<li><a href="#">ایجاد قرار</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
				<div class="pull-right">
					<l>time and date</l><lable class="text-primary text-right pull-right">: تاریخ قرار</lable></br>
					<l>number of people</l><lable class="text-primary text-right pull-right">: تعداد</lable></br>
					<l>room_number</l><lable class="text-primary text-right pull-right">: شماره اتاق</lable></br>
					</br></br>
					<l><a class="btn btn-small btn-primary" href="accept">قبول</a></l>
					<l><a class="btn btn-small btn-danger" href="reject">رد</a></l>
				</div>
		</div>
	</body>
</html>