<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link href="bootstrap-3.0.0/dist/css/bootstrap.css" rel="stylesheet">
		<link href="bootstrap-3.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="bootstrap-3.0.0/dist/css/bootstrap-theme.css" rel="stylesheet">
		<link href="bootstrap-3.0.0/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<form class="well col-md" action="create" method="post">
				<div>
					<label class="text-right text-primary pull-right">:انتخاب تاریخ‍ </label>
					<input class="form-control" name="date" type="text" placeholder="yyyy/mm/dd"></input>
				</div>
				<br/>
				<div>
					<label class="text-right text-primary pull-right">:دعوت شوندگان</label>
					<input class="form-control" name="invited" type="text" placeholder="sample@example.com;"></input>
				</div>
			</form>
		</div>
	</body>
</html>