<html>
	<head>
		<script type="text/javascript" src="/js/jquery.js"></script>
		<script type="text/javascript" src="/js/jquery.easing.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link href="/stylesheets/style.css" rel="stylesheet">
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		<link href="/css/stylesheet/style.css" rel="stylesheet">
		<link rel="stylesheet" href="/jalali/bootstrap-datepicker.min.css"/>
		<script src="/jalali/bootstrap-datepicker.min.js"></script>
		<script src="/jalali/bootstrap-datepicker.fa.min.js"></script>
	</head>
	<script>
		$(document).ready(function(){
			$('div#main-div').hide();
			$('div#main-div').slideDown(1400 ,'easeOutBounce', function(){});

       		$("#datepicker1").datepicker();
			$("#datepicker1btn").click(function(event) {
				event.preventDefault();
				$("#datepicker1").focus();
			});

			$('button#del').click(function(){
				$.ajax({
					type : 'POST',
					url : 'http://localhost:3000/edit_event',
					data : {type : 'del_interval' , intervalId : $(this).attr('name') , eventId : $(this).attr('data-id')}
				}).done(function(msg){
					alert(msg);
				});
				$(this).parent().addClass('hidden')
			});
			$('button#del_event').click(function(){
				$.ajax({
					type : 'POST',
					url : 'http://localhost:3000/edit_event',
					data : {type : 'del_event' , eventId : ($(this).attr('data-id'))} 
				}).done(function(msg){

				});
			});
			$('button#add').click(function(){
				$('div#new_interval').removeClass('hidden');
			});

			$('button#final_add').click(function(){
				var d = $('input#datepicker1').val();
				var sTime = $('input#stime').val();
				var eTime = $('input#etime').val();
				$.ajax({
					type : 'POST',
					url : 'http://localhost:3000/edit_event',
					data : {type : 'add_interval' , eventId : ($(this).attr('data-id')) , startTime : sTime , endTime : eTime , date : d} 
				}).done(function(msg){
					alert(msg);
					window.location.reload();
				});
			});

			$('button#finish').click(function(){
				window.location.href = "/";
			});
		});
	</script>
	<body class="main">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header pull-right">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">رامتونگ</a>
				</div>
				<div class="collapse navbar-collapse pull-right">
					<ul class="nav navbar-nav">
						<li><a href="/about">در‌باره ما</a></li>
						<li class="active"><a href="/me">من</a></li>
						<li><a href="/create">ایجاد قرار</a></li>
						<li><a href="/">خانه </a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
		<div id="main-div">
			<div class="container">
				<div class="well pull-right col-md-4">
					<p id="edit-event"> : عنوان </p><p class="text-info" id="edit-event-title">"{{=event.title}}"</p>
					<p class="pull-right"> </p>
					{{
						for(inter in event.intervals){
					}}
						<div class="clearfix"></div>
						<div class="pull-right">
							<p class="pull-right"> : روز</p><p>{{=event.intervals[inter].date}}</p>
							<p class="pull-right">:ساعت شروع</p>{{=event.intervals[inter].startTime}}</p>
							<p class="pull-right">:ساعت پایان</p><p>{{=event.intervals[inter].endTime}}</p><button data-id="{{=event.eventId}}" id="del" name="{{=event.intervals[inter].id}}" class="btn btn-danger btn-sm">حذف این روز و ساعت</button><br/><br/><br/>
						</div>
					{{
						}
					}}
					<div class="clearfix"></div>
					<div class="pull-right hidden col-md" id="new_interval">
						<from class="">
							<div class="control-group pull-right">
								<div class="controls pull-right">
									<fieldset>
										<legend></legend>
										<label class="text-right text-primary pull-right">:انتخاب تاریخ</label> <br/>
										<div class="input-group input-sm pull-right">
											<button class="btn btn-primary btn-xs" data-id="{{=event.eventId}}" id="final_add">اضافه کردن</button>&nbsp;
											<span class="input-group-btn">
												<button id="datepicker1btn" class="btn" type="button"><i class="glyphicon glyphicon-calendar"></i></button>
											</span>
											<input id="datepicker1" class="form-control" type="text"/>
										</div>
										<div class="contorls pull-right">
											<label class="text-right text-primary pull-right">: ساعت شروع</label>
											<input id="stime" class="form-control" type="time"/>
											<label class="text-right text-primary pull-right">: ساعت پایان</label>
											<input id="etime" class="form-control" type="time"/>
										</div>
									</fieldset>
								</div>
							</div>
						</from>
					</div><div class="clearfix"></div><br/><br/>
					<div id="edit-event-buttons">
						<button id="add" class="btn btn-info pull-right">اضافه کردن روز و ساعت جدید</button><br/><br/><br/>

						<button data-id="{{=event.eventId}}" class="btn btn-danger" id="del_event">حذف نظر‌سنجی</button>&nbsp;<button id="finish" class="btn btn-success">اتمام ویرایش</button>
					</div>
				</div><div class="clearfix"></div>
			</div>
		</div>
	</body>
</html>