<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link href="/stylesheets/style.css" rel="stylesheet">
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
	</head>
	<body class="main">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header pull-right">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">رامتونگ</a>
				</div>
				<div class="collapse navbar-collapse pull-right">
					<ul class="nav navbar-nav">
						<li><a href="#">در‌باره ما</a></li>
						<li class="active"><a href="/me">من</a></li>
						<li><a href="/create">ایجاد قرار</a></li>
						<li><a href="/">خانه </a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
		<div>
			<div class="container">
				{{
					if (events.length == 0) {
				}}
					<span class="pull-right text-info"> .شما نظر‌سنجی اینجاد نکردید که بتوانید آن را ویرایش کنید</span>
				{{
					}else{
				}}
					<span class="pull-right"><strong>:نظرسنجی‌هایی که شما می‌توانید آنها را ویرایش کنید</strong></span></br></br>
					<div class="container col-md-6 pull-right">
					{{
						for (var i = 0 ; i < events.length ; i++){
					}}
						<a class="btn btn-default btn-block pull-right" href="/show_event?eventId={{=events[i].eventId}}">نظر سنجی {{=i + 1}} </a></br>
					{{
						}
					}}
					</div>
				{{
					}
				}}

			</div>
		</div>
	</body>
</html>