body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: 20px;
}

a {
  color: #00B7FF;
}
#create-form {
  margin-top: 100px;
}

.main{
  background-color: #B0B0B0;
}

#create-event-btn {
	margin: auto 50%;
}

.about {
	font-size: 15px;
}