body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: 50px;
}

a {
  color: #00B7FF;
}

a#login-btn{
	margin-top: 8px;
}

#vote-submit {
	margin-left: 173px;
	margin-top: 20px;
}

#possible {
	display: block;
	width: 90%;
	margin : 7px auto;
	text-align: center;
	padding: 7px;
	border: 1px solid #00CCFF;
	border-radius: 4;
	background-color: #00CCFF;
}

#not-want-to {
	display: block;
	width: 90%;
	margin : 7px auto;
	text-align: center;
	padding: 7px;
	border: 1px solid #FF9900;
	border-radius: 4;
	background-color: #FF9900; 
}

#not-possible {
	display: block;
	width: 90%;
	margin : 7px auto;
	text-align: center;
	padding: 7px;
	border: 1px solid #FF3333;
	border-radius: 4;
	background-color: #FF3333;
}

#possible p,#not-want-to p,#not-possible p {
	margin-top: 4px;
}


#title {
	text-align: center;
	border-bottom-color: gray !important;
	border-bottom: 2px solid;
}

#title-heading {
	text-align: right;
}

#p-success {
	text-align: center;
}

#home-div {
	text-align: center;
	margin: 280px 160px auto 160px ;

}

.me a {
	text-align: right;
}

p#edit-event{
 	text-align: right;
}

p#edit-event-title{
	text-align: center;
	border-bottom-color: black !important;
	border-bottom: 1px solid;
}

#edit-event-buttons {
	margin-left: 60px; 
}